/* FULL PAGE BACKGROUND */
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #ff6a88, #ff99ac, #845ec2);
  min-height: 100vh;
}

/* PAGE WRAPPER */
.page {
  padding: 50px 20px;
}

/* TITLE */
.title {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

/* GRID */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

/* CARD */
.movie-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-10px);
}


.movie-img {
  width: 100%;
  height: 230px;
  object-fit: cover;  
}

/* TEXT */
.movie-card h3 {
  font-size: 18px;
  margin: 15px;
  color: #333;
}

.movie-card p {
  margin: 0 15px 20px;
  color: #777;
  font-size: 14px;
}
